name: Robot Framework - Regressivo

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run Tests
          uses: joonvena/robotframework-docker-action@v1.0

        - name: Upload Test Report
          uses: actions/upload-artifact@v1
          if: always()
          with:
            name: reports
            path: reports

    generate_report:
      if: always()
      needs: [ test ]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Download reports
          uses: actions/download-artifact@v2
          with:
            name: reports

        - name: Send report to commit
          uses: joonvena/robotframework-reporter-action@v2.5
          with:
            report_path: reports
            gh_access_token: ${{ secrets.GITHUB_TOKEN }}

        - name: GitHub Pages v3
          uses: peaceiris/actions-github-pages@v3.1.12