name: Robot Framework - Regressivo

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v6
          with:
            python-version: '3.13'
            cache: 'pip' # caching pip dependencies
        - run: pip install -r requirements.txt
        
        - name: Run Tests
          uses: joonvena/robotframework-docker-action@v1.0  

        - name: Upload Test Report
          uses: actions/upload-artifact@v3
          if: always()
          with:
            name: reports
            path: reports

    generate_report:
      if: always()
      needs: [ test ]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Download reports
          uses: actions/download-artifact@v1
          with:
            name: reports

        - name: Send report to commit
          uses: joonvena/robotframework-reporter-action@v2.5
          with:
            gh_access_token: ${{ secrets.GITHUB_TOKEN }}

        - name: Implantar Resultados no Github Pages
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: "**/reports/"   